@model List<Product>
<h3>@ViewData["Header"]</h3>

<div>
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Price</th>
            <th>PriceUri</th>
        </tr>

        

        @foreach (Product item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Category</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td>@item.PictureUri</td>
            </tr>
        }
    </table>

</div>
